body{
    background-color: #eeeeec;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content:space-between;
    top: 0;
    font-size: 2rem;
    color: white;
    background-color: #0f1111;
}

input{
    top: 0;
    text-align: center;
    font-size: medium;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-header{
    margin-left: 2%;
}

.right-header{
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.warenkorb{
    &:hover{
        text-decoration: underline;
    }
}

.acount{
    &:hover{
        text-decoration: underline;
    }
}

.favoriten{
    margin-left: 1em;
    margin-right: 1em;
    &:hover{
        text-decoration: underline;
    }
}

.produkte{
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10rem;  
}

.produkte-text{
    color: black;
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 12.5%;
    margin-right: 22.5%;
    font-size: 1.25rem;
}

.logo{
    width: 20%;
    height: auto; 
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.produkt1{
    height: auto;
    width: 70%;
}
.produkt2{
    height: auto;
    width: 70%;
}
.produkt3{
    height: auto;
    width: 70%;
}
