body{
    background-color: #3d0101;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content:space-between;
    top: 0;
    font-size: 2rem;
    color: white;
    background-color: #014524;
}

input{
    top: 0;
    text-align: center;
    font-size: x-large;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-header{
    margin-left: 2%;
}

.right-header{
    margin-right: 2%;
    display: flex;
    justify-content:space-between;
}

.warenkorb{
    &:hover{
        text-decoration: underline;
    }
}

.acount{
    &:hover{
        text-decoration: underline;
    }
}

.favoriten{
    margin-left: 1em;
    margin-right: 1em;
    &:hover{
        text-decoration: underline;
    }
}

.produkte{
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10rem;
}

.produkte-text{
    color: white;
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25rem;
}

.produkt1{
    height: 200px;
    width: 200px;
}
.produkt2{
    height: 200px;
    width: 200px;
}
.produkt3{
    height: 200px;
    width: 200px;
}
