header{
    display: flex;
    justify-content:space-between;
    top: 0;
    font-size: 2rem;
}

input{
    top: 0;
    text-align: center;
    width: 30%;
}

.right-header{
    display: flex;
    justify-content:space-between;
}

.favoriten{
    margin-left: 1em;
    margin-right: 1em;
}

.produkte{
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10rem;
}

.produkte2{
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25rem;
}

.produkt1{
    height: 200px;
    width: 200px;
}
.produkt2{
    height: 200px;
    width: 200px;
}
.produkt3{
    height: 200px;
    width: 200px;
}
